<div class="notification is-primary mt-6 is-flex is-flex-grow-1 is-justify-content-left">
    <h1 class="is-size-4 mr-6"><strong>Buscador</strong></h1>
    <form method="get">
        <div class="field has-addons">
            <div class="control" style="min-width: 100%;">
                <input class="input " type="search" name="search" placeholder="¿ Qué producto estás buscando ?">
            </div>
            <div class="control">
                <button type="submit" class="button is-info">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>